:root {
    --point-color: #9933cc;
    --gray: #eee;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    padding: 0.8rem;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    background-color: #fff;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .navi{
    display: flex;
    list-style: none;
    padding: 0;
}

header nav .navi li {
    margin-left: 1rem;
}

header nav .navi li:last-child {
    margin-top: 3px;
}

header nav .navi li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header .searchBox {
    display: flex;
    align-items: center;
}

header .searchBox .searchBar {
    height: 2rem;
    width: 300px;
    background-color: var(--gray);
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

header .searchBox img {
    margin-left: 0.6rem;
    width: 20px;
    height: 20px;
}

header .searchBox .searchBar::placeholder {
    padding-left: 1rem;
}

header .searchBox .searchBar:focus {
    outline-style: none;
    background-color: white;
    border: 1.2px solid var(--point-color);
}

header .user-notification {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

header .user-notification li {
    margin-right: 2rem;
}

header .user-notification li a {
    text-decoration: none;
    position: relative;
}

header .user-notification li a img {
    width: 20px;
    height: 20px;
}

header .user-notification .tooltip {
    position: absolute;
    top: 1.5rem;
    left: -0.6rem;
    display: inline-block;
}

a .tooltip .tooltip-text {
    visibility: hidden;
    font-size: 0.8rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 18px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    padding: 2px 8px;
}

a:hover .tooltip .tooltip-text {
    visibility: visible;
}

.container {
    display: flex;
    position: relative;
    top: 60px;
    width: 100%;
    height: 0;
}

.container aside {
    background-color: var(--gray);
    width: 15%;
    height: 100%;
    z-index: -1;
    padding: 0.6rem 0;
    position: fixed;
    top: 60px;
    margin-top: 3px
}

.container aside .ch-following {
    margin-bottom: 1rem;
}

.container aside .title,
.container aside .ch-name {
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
}

.container aside .title {
    font-size: 0.8rem;
    margin-left: 0.6rem;
}

.container aside .info,
.container aside .ch-online {
    font-size: 0.7rem;
    color: gray;
    margin-top: 3px;
}

.container aside .list {
    list-style: none;
    padding: 0;
}

.container aside .list li {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.6rem;
}

.container aside .list .list-card {
    padding: 0.6rem;
    display: flex;
}

.container aside .list li:hover {
    background-color: #ddd;
}

.container aside .list li img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.container aside .list li .ch-online {
    margin-left: auto;
    padding-top: 0;
}

.container aside .list li .ch-online span {
    color: black;
}

.container aside .list li .ch-online .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin-right: 0.1rem;
}

.container aside .more {
    font-size: 0.7rem;
    color: var(--point-color);
    margin-left: 0.6rem;
}

.container aside .add-ch {
    border-top: 1px solid #ccc;
    margin-bottom: 4px;
    position: absolute;
    bottom: 5rem;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.container aside .add-ch input {
    margin-left: 0.6rem;
    width: 210px;
    height: 1.5rem;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

.container aside .add-ch input::placeholder {
    padding-left: 1.5rem;
}

.container aside .add-ch input:focus {
    outline: none;
    border: 1px solid var(--point-color);
}

.container aside .add-ch img {
    position: absolute;
    left: 16px;
    width: 0.6rem;
    height: 0.6rem;
}

main {
    margin-left: 15%;
    padding: 1rem;
    width: 85%;
}

main .recommand-live {
    width: 100%;
}

main .recommand-live .title,
main .recommand-category .title {
    font-weight: 600;
}

main .recommand-live > .title,
main .recommand-category > .title {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

main .recommand-live .video-list {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    padding: 1px;
    height: 350px;
}

.video-list .more {
    position: absolute;
    display: flex;
    bottom: 2px;
    width: 100%;
}

.video-list .more .more-content {
    width: 5%;
}

.video-list .more .more-content {
    text-align: center;
    color: var(--point-color);
    font-size: 0.8rem;
    font-weight: 600;
}

.video-list .more .more-content i {
    margin-left: 0.4rem;
}


.video-list .more span {
    width: 5%;
    text-align: center;
    color: var(--point-color);
    font-size: 0.8rem;
    font-weight: 600;
}


.video-list .more .hori-line {
    margin: auto;
    width: 45%;
    border-bottom: 1px solid #ddd;
}

.video-list .video-card {
    width: 300px;
    margin: 4px 6px !important;
}

.video-list .video-card .video-info {
    width: 100%;
}

.video-list .video-card .video-info .img {
    background-color: var(--gray);
    width: 100%;
    height: 180px;
}

.video-info .info {
    overflow: hidden;
    display: flex;
    width: 100%;
    margin-top: 0.4rem;
    position: relative;
}

.video-info .info .thumnail {
    margin-right: 0.4rem;
}

.video-info .info .thumnail .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.video-info .info .thumnail img {
    display: none;
}

.video-info .info .detail {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0;
}

.detail .title,
.detail .ch-name,
.detail .ch-sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail .related {
    display: flex;
    margin-top: 0.4rem;
}

.detail .related .rel-item {
    background-color: var(--gray);
    border-radius: 6px;
    padding: 1px 0.6rem;
    margin-right: 0.4rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: #444;
    white-space: nowrap;
}

.video-info .info .ch-name,
.video-info .info .ch-sub {
    font-size: 0.8rem;
    color: #555;
}

.video-info .info i {
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 0.8rem;
}

main .recommand-category {
    margin-top: 1rem;
}

main .recommand-category .title a {
    color: var(--point-color);
    text-decoration: none;
}

main .recommand-category .title a:hover {
    text-decoration: underline;
}

.recommand-category .video-list {
    display: flex;
}


.recommand-category .video-list .video-card {
    width: 150px;
    margin: 4px 6px !important;
}

.recommand-category .video-list .video-card .video-info {
    width: 100%;
}

.recommand-category .video-list .video-card .video-info .img {
    background-color: var(--gray);
    width: 100%;
    height: 200px;
}